<h2>
   <%= h(@memo_identified["title"]) %>
</h2>
<p>
  <%= h(@memo_identified["content"]).gsub(/\n/, '<br/>') %><br>
  <form action="/memos/<%= params[:id] %>/edit" method="get">
    <button type="submit">変更</button>
  </form>
  <form action="/memos/<%= params[:id] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">削除</button>
  </form>
  <button onclick="location.href='/memos'">TOPへ</button>
</p>
